<section class="content container-fluid">
    <div class="">
        <div>
            <label class="label-control"></label>
            <div class="">
                <table id="info-table" class="table-striped table table-bordered table-hover dataTable" width="100%" cellspacing='0'></table>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="processDetailPanel" tabindex="-1" role="dialog" aria-labelledby="processDetailPanel" aria-hidden="true">
    <div class="modal-dialog"  style="width: 900px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span></span>流程明细</h4>
            </div>
            <div class="modal-body">
                <table id="process-detail-table" class="table-striped table table-bordered table-hover dataTable" width="100%" cellspacing='0'></table>
            </div>
        </div>
    </div>
</div>
<script src="/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js" />
<script src="/js/plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js" />
<script src="/js/workflow.js" />