<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <div th:fragment="header-css">
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/bootstrap-switch/bootstrap-switch.min.css"/>
        <link rel="stylesheet" href="/css/daterangepicker.css" />
        <link rel="stylesheet" href="/css/font/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/AdminLTE.min.css" />
        <link rel="stylesheet" href="/css/skins/skin-blue.min.css" />
    </div>
</head>
<body>
    <header th:fragment="header" class="main-header">
        <a href="#" class="logo">
            <span class="logo-mini"><b>P</b>FM</span>
            <span class="logo-lg"><b>Plat</b>form</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu" style="padding-top: 15px;" id="li-busy">
                        <img src="/images/loading.gif" class="user-image"/>
                    </li>
                    <!--<li class="dropdown messages-menu" aria-labelledby="dropdownMenu">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                            <!--<i class="fa fa-envelope-o"></i>-->
                            <!--<span class="label label-success">2</span>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li class="header">1条消息</li>-->
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--<div class="pull-left">-->
                                    <!--</div>-->
                                    <!--<h4>-->
                                        <!--支持团队-->
                                        <!--<small><i class="fa fa-clock-o"></i>5分钟</small>-->
                                    <!--</h4>-->
                                    <!--<p>测试消息</p>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="footer"><a href="#">查看所有消息</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/images/user.png" class="user-image" alt="账号信息" />
                            <span class="hidden-xs">账号</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="/images/user.png" class="img-circle" alt="账号信息" />
                                <p><span sec:authentication="name"></span></p>
                            </li>
                            <!--<li class="user-body">-->
                                <!--<div class="row">-->
                                    <!--<div class="col-xs-6 text-center">-->
                                        <!--<a href="#">Followers</a>-->
                                    <!--</div>-->
                                    <!--<div class="col-xs-6 text-center">-->
                                        <!--<a href="#">Sales</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</li>-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <!--<a href="#" class="btn btn-default btn-flat">个人信息</a>-->
                                    <span>最近一次登录时间： </span>
                                </div>
                                <div class="pull-right">
                                    <span th:text="${loginUser.lastLoginTime}"></span>
                                    <!--<a href="#" class="btn btn-default btn-flat">修改密码</a>-->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/logout"><i class="fa fa-power-off"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>